/* https://unsplash.com/photos/photo-of-green-fern-plant-OOE4xAnBhKo */

@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Modern:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'Norse';
    src: url('./fonts/Norse-Bold.woff2') format('woff2'),
        url('./fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}



body {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.3rem;
    /* width: 1440px; */
    min-width: 100%;
    height: 1080px; 
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

div {
    /* border: 2px solid purple; */
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 14%;
    background-color: oklch(0% 0 0 / 50%);
    margin: 12.9rem 0 0 0;
    color: #ffffff;
    font-family: Norse;
    font-size: 54px ;
}
.footer-credit {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 760px 0 0 0;
    font-family: "poppins", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff; 
    font-size: 0.9rem;
    font-weight: 300;
}

div.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%; 
    /* width: 1440px; */
    height: 1200px; 
    margin: auto;
    padding: 0;
}
.left-container {
    width: 25%;
    height: 100%;
    background: url(./images/teemu-paananen-low.jpg);
    background-size: none;
    background-position-y: bottom;
    background-repeat: no-repeat; 
}

.right-container {
    width: 75%;
    height: 100%;
    background-color: oklch(97% 0.5% 270);
    padding: 0;
    margin: 0; 
}
section {
   /* border: 5px solid rgb(0, 255, 81); */ 
    height: fit-content;
    padding: 0 0 0 3rem ;
    margin: 0 0rem 0 0rem ;
    
    
}
.section-1 {
    margin-top: 10rem;
}

.form-separator-2 {
    margin: 0 0rem 0rem 4.5rem;
}

h2 {
    margin: 0 0 0 0;
    font-family: "poppins", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;

}

h3 {
    /* justify-self: center; */
    min-width: 82%;
    height: 100%;
    margin: 0rem 16rem 4rem 0rem; 
    
}

fieldset {
    border: none;
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 0 0 1rem 0;
    padding: 0;
}

.input-block {
    
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    
    
}

input {
    width: 16rem;
    height: 2rem;
    padding-left: 1rem; 
    border-radius: 6px;
    border: 1px solid #E5E7EB;
    border-width: 0.1px;
    font-family: "poppins", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 0.06rem;
}

label {
    font-family: "poppins", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
    color: oklch(50% 0% 143);
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="password"]:focus {
    border: 2px solid #1c60e7;
    box-shadow: 2px 4px 6px oklch(75% 1% 120 / 50%);
    outline: none; 
    
}

input:invalid {
    border: 1px solid red;
    
}

input:valid {
    border: 1px solid #E5E7EB
}

.section-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: #ffffff;
    box-shadow: 0px 6px 9px oklch(69% 1% 120 / 50%);
   
}


button {
    padding: 0.90rem 3.9rem;
    font-size: 1.4rem;
    border-radius: 9px;
    background-color: oklch(50% 39% 143); 
    margin: 2rem 0 2rem  0;
    font-family: inherit;
    font-weight: 500;
    color: oklch(95% 6% 143);
    border: none;
    text-align: center;
}

button:hover {
    cursor: pointer;
    background-color: oklch(40% 60% 143)
}

a, href{
    color: oklch(50% 39% 143);
    text-decoration: none;
}

.footer-credit a, href{
    color: oklch(100% 0% 143);
    text-decoration: none;
}

.cta-section {
    margin: 2rem 0;
    background-color: oklch(97% 0.5% 270);
    
} 
